@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Список футболистов</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Gender</th>
                <th>BirthDate</th>
                <th>NameTeam</th>
                <th>Country</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in ViewBag.FootBallers)
            {
                <tr>
                    <td>@f.Id</td>
                    <td>@f.FirstName</td>
                    <td>@f.LastName</td>
                    <td>@f.Gender</td>
                    <td>@f.BirthDate.ToString("dd/MM/yyyy")</td>
                    <td>@f.NameTeam</td>
                    <td>@f.Country</td>
                    <td><a href="~/Home/Item?Id=@f.Id">Редактировать</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
